<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chisw.com.plans"
    android:versionCode="2"
    android:versionName="0.9.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".core.PApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.LogInActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.PlannerActivity"
            android:label="@string/title_activity_planner"
            android:theme="@style/AppTheme.PlannerTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ViewPlanActivity"
            android:label="@string/title_activity_view_plan"
            android:theme="@style/AppTheme.PlannerTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.PlannerTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />


        <receiver android:name=".core.receiver.NotificationCancelReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".core.receiver.NotificationReceiver">
        </receiver>

        <receiver
            android:name=".core.receiver.RebootReceiver"
            android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
